* {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: auto;
    
}

body {
    font-family: "poppins", sans-serif;
    color: #444;
    background-color: rgb(241, 231, 231);
    height: 100vh;
    padding: 2rem;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

}

.welcome {
    font-size: 1.9rem;
    font-weight: 600;
}

.login{
    display: flex;
}

.login_input {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem;
    border-radius: 2rem;
    color: inherit;
    border: 1px solid #444;
    transition: all 0.3s;
}

.login_input:focus {
    outline: none ;
    border-color: 1px solid white;
}

.login_input::placeholder {
    color: brown
}

.login_btn {
    border : none;
    padding: 0.5rem 1rem;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 0.3s;
}






.app {
    position: relative;
    max-width: 100rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3,15rem) auto;
    gap: 2rem;
    opacity:  ;
    transition: all 0.3s;

}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: -0.2rem;
    
}

.balance_label {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: -0.5rem;
}

.balance_date {
    font-size: 1.4rem;
    color: #888;
    ;
} 

.balance_value {
    font-size: 4.5rem;
    font-weight: bold;
    padding-right: 21rem;
}

.movements {
    grid-row: 2 / span 4;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    border-radius: 2rem;
    max-height: 450px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}







.movements_row {
    display: inline-flex;
    padding: 2rem;
    justify-content: space-between;
    

    
}

.movements_type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    color:#fff;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;
    
}
.movements_date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    color : #666;
    
}

.movements_value{
    font-size: 1.1rem;
    font-weight: 600;
    color : #666;
    text-align: right;
    margin-left: 2rem;
    padding-right: 2rem;
    
    
}



.movements_type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be151);

}

.movements_type--withdrawal {
    background-image: linear-gradient(
        to top left, #ff5852, #ff5381
    );
}

.summary {
    display: inline-flex;
    gap: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 10rem;

    
    

}
.summary_row{
    display: inline-flex;
    gap: 1rem
}

.summary_label{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 0.9rem;
    padding-left: 4rem;

}



.summary_value {
    color : #f5465b;
}

.sort_btn {
    border:none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    padding-left: 3rem;
    font-size: large;
}

.operation {
display: inline-flex;
flex-direction: column;
}

.money-transfer {
    background-image: linear-gradient(to top left, #31b385, #9be151);
    padding: 2rem;
    border-radius: 2rem;
    margin: 3rem;
}

.loan {
    background-image: linear-gradient(
        to top left, #39b385, #9be15a
    );
    padding: 2rem;
    border-radius: 2rem;
    margin: 3rem;
}

.close-account {
    background-image: linear-gradient(
        to top left, #ff5852, #ff5381
    );
    padding: 2rem;
    border-radius: 2rem;
    margin: 3rem;
}

.money-transfer_input,
.loan_input,
.close-account_input{
    border: none;
    padding: 0.5rem;;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    width: 8rem;
    border-radius: 1rem;
    transition: all 0.3s;
    color: black;
}

.money-transfer_input--from{
    display: inline-flex;
    flex-direction: row;
}

.money-transfer_input--from p {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

.money-transfer_btn {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    padding-left: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    font-size: large;
    margin-left: 0.5rem;
}

.loan_btn {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: large;
    margin-left: 0.5rem;

    
}

.close-account_btn {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.5rem;
    font-size: large;
    margin-left: 0.5rem;
    
}